#sidebar{
    display: flex;
    flex-direction: column;
    .logoBoxSidebar{
        padding-top: 2.25rem;
        padding-bottom: 1.25rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        a{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            span{
                color: #181c32;
                font-weight: 800;
                font-size: 18px;
            }
        }
    }
    .sidebarMenuBox{
        max-height: calc(100vh - 88px);
        padding: 0px 0px 20px 0px;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sidebarMenu{
        padding-right: 1.75rem !important;
        padding-left: 1.75rem !important;
    }
}